lab5/dogs-cats-mini/*
*Dataset/
*.DS_Store
*.keras
bookPhotos/
__pycache__*
yolov8n.pt
projekt1/app/main.mp3
*notes.txt
projekt1/main.mp3
.metals/*
lab7/login.json
lab7/cookies.json
projekt2/resources/
